body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h2 {
  margin: 0;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
}

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
}

.login_container {
  width: 340px;
  height: 408px;
  margin: auto;
  margin-top: 80px;
}

.login_title {
  margin-bottom: 44px;
  text-align: center;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.error_message {
  display: none;
  color: red;
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 7px;
  padding-top: 3px;
}

.error_message.is_invalid {
  display: block;
}

.user_id_wrapper,
.user_pw_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#user_id,
#user_pw {
  height: 24px;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #A6A6A6);
  color: #333333;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

#user_pw {
  margin-top: 12px;
}

.user_find_wrapper {
  height: 20px;
  margin-top: 12px;
  text-align: end;
}

.user_find_wrapper a {
  color: #000;
  font-family: Pretendard;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.btn_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 12px;
}

.login_btn {
  height: 54px;
  text-align: center;
  background: var(--primary, #5F0080);
  border: none;
  border-radius: 4px;
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.register_btn {
  height: 54px;
  border: 1px solid var(--primary, #5F0080);
  border-radius: 4px;
  text-align: center;
  color: var(--primary, #5F0080);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}