.count_container {
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  background-color: #ccc;


  span {
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
  }

  button {
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background: #ddd;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: skyblue;
  }


  button:hover {
    background-color: rgb(14, 67, 88);
  }

}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(180, 175, 175);
}

.num1_wrapper,
.num2_wrapper {
  :last-child {
    background-color: rgb(240, 56, 56);
  }

  :last-child:hover {
    background-color: rgb(94, 6, 6);
  }
}

.num1_wrapper {
  margin-bottom: 50px;
}


.sr_only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
}

/* 
.isActive {
  display: none;
}*/

.show {
  opacity: 1;
}